<!DOCTYPE HTML>
<html>
<head>
  <title>Vincenzo Strumbo</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
  <link rel="stylesheet" href="/app/assets/css/vendor/main.css"/>
  <link rel="stylesheet" href="/app/assets/css/application.css"/>
  <noscript>
    <link rel="stylesheet" href="/app/assets/css/vendor/noscript.css"/>
  </noscript>
</head>
<body class="is-preload">

  <!-- Wrapper -->
  <div id="wrapper" class="fade-in">

    <!-- ParticlesJS canvas -->
    <div id="particlesjs-wrapper"></div>

    {{> @partial-block }}

  </div>


  <!-- Copyright -->
  <div id="copyright">
    <ul>
      <li>&copy; vincenzo.strumbo.eu</li>
      <li>Template: <a href="https://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>

  <script src="/bundle.js"></script>

</body>
</html>