<!DOCTYPE HTML>
<!--
	Massively by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
  <title>Vincenzo Strumbo</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="/assets/css/bootstrap-grid.min.css"/>
  <link rel="stylesheet" href="/assets/css/bootstrap-reboot.min.css"/>
  <!-- Vendor -->
  <link rel="stylesheet" href="/assets/css/main.css"/>
  <noscript>
    <link rel="stylesheet" href="/assets/css/noscript.css"/>
  </noscript>
  <!-- Custom -->
  <link rel="stylesheet" href="/assets/css/index.css"/>
</head>
<body class="is-preload">

{{> @partial-block }}

<!-- Copyright -->
<div id="copyright">
  <ul>
    <li>&copy; vincenzo.strumbo.eu</li>
    <li>Template: <a href="https://html5up.net">HTML5 UP</a></li>
  </ul>
</div>

<!-- Scripts -->
<!-- JQuery & requirements -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<!-- Bootstrap -->
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<!-- Handlebars -->
<script src="/assets/js/handlebars.min-v4.0.13.js"></script>
<!-- Vendor -->
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<!-- Custom -->
<script src="/assets/js/particles.min.js"></script>
<script src="/assets/js/index.js"></script>

</body>
</html>