<!-- Footer -->
<footer id="footer">
  <section>
    <form name="contacts" method="post" data-netlify="true">
      <div class="fields">
        <div class="field">
          <label for="name">Name</label>
          <input type="text" name="name" id="name"/>
        </div>
        <div class="field">
          <label for="email">Email</label>
          <input type="text" name="email" id="email"/>
        </div>
        <div class="field">
          <label for="message">Message</label>
          <textarea name="message" id="message" rows="3"></textarea>
        </div>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Send Message"/></li>
      </ul>
    </form>
  </section>
  <section class="split contact">
    <section>
      <h3>Email</h3>
      <p><a href="mailto://vincenzo@strumbo.eu">vincenzo@strumbo.eu</a></p>
    </section>
    <section>
      <h3>Social</h3>
      <ul class="icons alt">
        <li><a href="https://github.com/vinjex" class="icon fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="https://www.linkedin.com/in/vincenzo-strumbo-10773110a" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
        <li><a href="https://stackoverflow.com/users/7932010/vincenzo-strumbo?tab=topactivity" class="icon fa-stack-overflow"><span class="label">StackOverflow</span></a></li>
      </ul>
    </section>
  </section>
</footer>