<!-- Nav -->
<nav id="nav">
  <ul class="links">
    <!--<li><a href="/pages/main">This is Massively</a></li>
    <li><a href="/pages/generic">Generic Page</a></li>
    <li><a href="/pages/elements">Elements Reference</a></li>-->
  </ul>
  <ul class="icons">
    <li><a href="https://github.com/vinjex" class="icon fa-github"><span class="label">GitHub</span></a></li>
    <li><a href="https://www.linkedin.com/in/vincenzo-strumbo-10773110a" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
    <li><a href="https://stackoverflow.com/users/7932010/vincenzo-strumbo?tab=topactivity" class="icon fa-stack-overflow"><span class="label">StackOverflow</span></a></li>
  </ul>
</nav>