<div id="timeline-container">
  <div id="thumbs">
    <div class="history-block bg-ferrara">
      <div class="cover"></div>
      <div class="year">2011 - 2017</div>
      <div class="title">
        <br/>
        <h5>Liceo Scientifico A. Roiti</h5>
        Ferrara, Italy<br/>
        High-School Student
      </div>
    </div>
    <div class="history-block bg-units">
      <div class="cover"></div>
      <div class="year">2016 - 2017</div>
      <div class="title">
        <br/>
        <h5> Università di Trieste</h5>
        Trieste, Italy<br/>
        Computer Engineering Student
      </div>
    </div>
    <div class="history-block bg-medishare">
      <div class="cover"></div>
      <div class="year">2017 - 2018</div>
      <div class="title">
        <br/>
        <h5>medishare <a href="http://www.medi-share.com/" target="_blank"><i class="fa fa-link"></i></a></h5>
        Gorizia, Italy<br/>
        Android & Web Developer
      </div>
    </div>
    <div class="history-block bg-zeeromed">
      <div class="cover"></div>
      <div class="year">2018 - Now</div>
      <div class="title">
        <br/>
        <h5> O3 Enterprise <a href="https://www.o3enterprise.com/" target="_blank"><i class="fa fa-link"></i></a></h5>
        Gorizia/Trieste, Italy<br/>
        Full Stack Developer
      </div>
    </div>
  </div>
</div>