<div class="row">
  <div class="col-xl-2 col-lg-4 col-sm-6 py-2">
    <div class="card">
      <div class="card-body">
        <img class="centered" src="/assets/images/languages_platform_tools/ror.svg">
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-sm-6 py-2">
    <div class="card">
      <div class="card-body">
        <img class="centered" src="/assets/images/languages_platform_tools/ruby.svg">
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-sm-6 py-2">
    <div class="card">
      <div class="card-body">
        <img class="centered" src="/assets/images/languages_platform_tools/mysql.svg">
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-sm-6 py-2">
    <div class="card">
      <div class="card-body">
        <img class="centered" src="/assets/images/languages_platform_tools/docker.svg">
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-sm-6 py-2">
    <div class="card">
      <div class="card-body">
        <img class="centered" src="/assets/images/languages_platform_tools/node.svg">
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-sm-6 py-2">
    <div class="card">
      <div class="card-body">
        <img class="centered" src="/assets/images/languages_platform_tools/nginx.svg">
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-sm-6 py-2">
    <div class="card">
      <div class="card-body">
        <img class="centered" src="/assets/images/languages_platform_tools/github.svg">
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-sm-6 py-2">
    <div class="card">
      <div class="card-body">
        <img class="centered" src="/assets/images/languages_platform_tools/gcp.svg">
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-sm-6 py-2">
    <div class="card">
      <div class="card-body">
        <img class="centered" src="/assets/images/languages_platform_tools/linux.svg">
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-sm-6 py-2">
    <div class="card">
      <div class="card-body">
        <img class="centered" src="/assets/images/languages_platform_tools/android.svg">
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-sm-6 py-2">
    <div class="card">
      <div class="card-body">
        <img class="centered" src="/assets/images/languages_platform_tools/react.svg">
      </div>
    </div>
  </div>
  <div class="col-xl-2 col-lg-4 col-sm-6 py-2">
    <div class="card">
      <div class="card-body">
        <img class="centered" src="/assets/images/languages_platform_tools/angular.svg">
      </div>
    </div>
  </div>
</div>