{{#> layouts/application }}

  <!-- Intro -->
  <div id="intro">
    <h1>Vincenzo Strumbo</h1>
    <p><b>Full Stack Developer</b> - based in Gorizia (GO), Italy</p>
    <ul class="actions">
      <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
    </ul>
  </div>

  <!-- Header -->
  <header id="header">
    <a href="/page/main" class="logo">Vincenzo Strumbo</a>
  </header>

  {{> components/nav }}

  <!-- Main -->
  <div id="main">

    <h2> Career </h2>
    {{> main/timeline }}

    <h2>Languages, Platforms and Tools</h2>
    {{> main/languages }}

    <h2> Contacts </h2>
    {{> components/footer }}

    <br/>

  </div>
{{/layouts/application}}